APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

LINKEDIN_ID=78ci7g1uqvv0ph
LINKEDIN_SECRET=o8FxJcduplEcl3W6
LINKED_URL=https://google.com

GITHUB_ID=24d40d055c64ed651ea5
GITHUB_SECRET=24d40d055c64ed651ea5
GITHUB_URL=https://google.com