body {
	margin-top: 80px;
    background-color: #F8F8F8;
    font-family: 'Lato', sans-serif;
   /* background-color: #DCF0F0;*/
}

.footer {
	background-color: #F8F8F8 ;
	height: 50px;
}

.footercontent {
	padding-top: 15px;
}

hr {
    border: none;
    height: 2px;
    /* Set the hr color */
    color: lightgrey; /* old IE */
    background-color: lightgrey; /* Modern Browsers */
    margin-top: 25px;
    margin-bottom: 25px;
}

/*------------welcome page--------*/

}
.thumbnail {
	padding-top: 25px;
    max-height: 350px;
    max-width: 600px;
}

.logindrop {
	width: 200px;
}

.header {
    color: #2A5C68;
    font-size: 130px;
    margin-left: -10px;
}

.welcomeSubHeader {    
    font-size: 25px;
}

.welcomeText {
    color: #5B6772;    
    font-weight: 400;
    font-size: 17px;
}

.developersProjects {    
    font-size: 25px;
}

.thumbs {
    padding: 10px;
}

/*-------- Users/Projects pages ------------*/
.title {
    color: #2A5C68;
    font-size: 40px;
    
}
.name {
    color: #2A5C68;
    
    /*font-weight: 800;*/
    font-size: 17px;
}
.location {
    color: #373F51;
    font-size: 17px;
    font-weight: 800;
    
}
.postTitle {
    margin-top: 0px;
    font-size: 30px;
}
.posted {
    
    font-size: 13px;
    font-weight: 800;
}
.userPic {
    max-width: 300px;

}
/*------------- Login -------------*/
.login {
    background-color: darkgrey
    padding: 15px;
    margin-top: 60px;
}

.loginHeader {
    margin-top: 1px;
}


/*--------------------------------*/
.container {
	margin-bottom: 20px;
}


/*----------navbar-------------*/

.navbar-default {
    background-color: #F8F8F8;         /*bar color*/
    border-color: #F8F8F8;
}

.navbar-default .navbar-nav > li > a {
    color: black;                       /* text color*/
    font-size: 15px;
    font-weight: 200;

}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: #D1D1D1;         /*hover background*/
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: lightgrey;  /* hover text color*/
    /*background-color: black;*/
}

.navbar-default .navbar-text {
    color: black;

}

.navbar-default .navbar-toggle {
    border-color: #F8F8F8;  /*hamburger border*/
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #D1D1D1; /*hamburger hover*/
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: grey; /*hamburger line color*/
}




/*---------------------Sticky Footer--------------------*/
/**/           #wrapper, html, body {                 /**/
/**/              min-height:100%!important;          /**/
/**/                                                  /**/
/**/           }                                      /**/
/**/           #wrapper {                             /**/
/**/              margin-bottom:100px;                /**/
/**/           }                                      /**/
/**/                                                  /**/
/**/           #push{                                 /**/
/**/             height:115px;                        /**/
/**/             clear: both;                         /**/
/**/           }                                      /**/
/*------------------------------------------------------*/

/*-------------------/* gets rid of rounded corners on bootstrap --------------------------*/
/*\*/	.btn {border-radius: 0;}                                                        /*\*/
/*\*/                                                                                   /*\*/
/*\*/	* {                                                                             /*\*/
/*\*/	  border-radius: 0 !important;                                                  /*\*/
/*\*/	  -moz-border-radius: 0 !important;                                             /*\*/
/*\*/	  }                                                                             /*\*/
/*-----------------------------------------------------------------------------------------*/
























