body {
    margin-top: 50px;
    font-family: 'Lato', sans-serif;
    background-image: url("../img/bgnoise_lg.png");
    background-repeat: repeat;
}

hr {
    border: none;
    height: 2px;
    color: #5A6064; /* old IE */
    background-color: #5A6064; /* Modern Browsers */
    margin-top: 25px;
    margin-bottom: 25px;
}
#Container .mix{
    display: none;
}
.btn {
    color: white;
    background-color: grey;
    border-color: lightgrey;
}
/*------------welcome page--------*/
.header {
    color: black;
    font-size: 120px;
    margin-left: -10px;
    margin-top: 10px;
    opacity: 1;
    padding-top: 120px;
}

.welcomeImgDiv {
    height: 400px;
    background-image: url("../img/welcomeBackground.gif");
    background-repeat: repeat;
    opacity: 0.6;
    margin-top: 0px;   

}
.container {
    padding-left: 0px;
    padding-right: 0px;
}

.logindrop {
    max-width: 200px;
}

.welcomeSubHeader {    
    font-size: 25px;
}

.welcomeText {
    color: #1C3B32;    
    font-weight: 400;
    font-size: 17px;
}
.aboutText{
    color: black;    
    font-weight: 400;
    font-size: 17px;
}

.developersProjects {    
    font-size: 25px;
}

.thumbs {
    padding: 10px;
}
.thumbnail {
    background-color: #7A8083;
}
.captionWells {
    background-color: #white;
}

/*-------- Users/Projects pages ------------*/
.title {
    color: #2A5C68;
    font-size: 40px;
    
}
.name {
    color: #2A5C68;
    
    /*font-weight: 800;*/
    font-size: 17px;
}
.location {
    color: #373F51;
    font-size: 17px;
    font-weight: 800;
    
}
.postTitle {
    margin-top: 0px;
    font-size: 30px;
}
.posted {

    font-size: 13px;
    font-weight: 800;
}
.userPic {
    max-width: 300px;

}
.skillsBox{
  background-color: lightgrey;
  padding: 5px;
}
.filter{
  margin:1px;
}
.resetBtn {
  background-color: black;
  border-color: black;
}
/*------------- Login -------------*/
.login {
    background-color: darkgrey;
    padding:10px;
    margin-top: 60px;
}

.loginHeader {
    margin-top: 1px;
}
.loginDrop {
  margin-left: 10px;
  margin-right: 10px;
}


/*--------------------------------*/
.container {
	margin-bottom:0px;
}


/*----------navbar-------------*/

.navbar-default {
    background-color: #F8F8F8;         /*bar color*/
    border-color: #F8F8F8;
    margin-bottom: 0px;
}

.navbar-default .navbar-nav > li > a {
    color: black;                       /* text color*/
    font-size: 15px;
    font-weight: 200;

}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: #D1D1D1;         /*hover background*/
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: lightgrey;  /* hover text color*/
    /*background-color: black;*/
}

.navbar-default .navbar-text {
    color: black;

}

.navbar-default .navbar-toggle {
    border-color: #F8F8F8;  /*hamburger border*/
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #D1D1D1; /*hamburger hover*/
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: grey; /*hamburger line color*/
}


/*-------welcome page--------*/
.phDiv {
    background-color: #02786F;
    height: 700px;

}

.phDev {
    background-color: lightblue;
    height: 350px;
    opacity: .7;

}
.phDev:hover{
    opacity: 1;
}
.phProjects {
    background-color: papayawhip;
    height: 350px;   
    opacity: .7;
}
.phProjects:hover{
    opacity: 1;
}
.masterBladeContainer {
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.postShowTitle {
  margin-top: 0px;
}
.employerContact {
  margin-bottom: 5px;
}



/*---------------------Sticky Footer--------------------*/
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
.footercontent{
  margin-bottom: 0px;
}
.socialbtn {
  margin-bottom: 0px;
}
.postsIndex {
  margin-bottom: 10px;
}
/*------------------------------------------------------*

/*-------------------/* gets rid of rounded corners on bootstrap --------------------------*/
/*\*/	.btn {border-radius: 0;}                                                        /*\*/
/*\*/                                                                                   /*\*/
/*\*/	* {                                                                             /*\*/
    /*\*/	  border-radius: 0 !important;                                                  /*\*/
    /*\*/	  -moz-border-radius: 0 !important;                                             /*\*/
    /*\*/	  }                                                                             /*\*/
    /*-----------------------------------------------------------------------------------------*/






















