body {
	margin-top: 60px;
}
.footer {

	background-color: #EEEEEE ;
	height: 50px;
}
.footercontent {
	padding-top: 15px;
}


/*------------welcome page--------*/
.thumbnail {
	padding-top: 25px;
}
.logindrop {
	width: 200px;
}

/*--------------------------------*/





























